<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"	"http://mybatis.org/dtd/mybatis-3-config.dtd"> 
<configuration>
	 <typeAliases>  
        <package name="com.hqyj.bean"/>
    </typeAliases>  
    <mappers>
    	<mapper resource="com/hqyj/dao/Login.xml"/>
    	<mapper resource="com/hqyj/dao/User.xml"/>
    	<mapper resource="com/hqyj/dao/Stockdrug.xml"/>
    	<mapper resource="com/hqyj/dao/Warehouse.xml"/>
    	<mapper resource="com/hqyj/dao/Saledrug.xml"/>
    	
    </mappers>
    
</configuration>
