*{
	margin: 0px;
	padding: 0px;
	text-decoration: none;
	
}
html,body{
	background-color: #f0ce8f;
	
}

input{
	outline: none;
	cursor: pointer;
}

#bigbox{
	width: 1026px;
	height: 550px;
	position: absolute;
	left: 50%;
	margin-left: -513px;
	border: 1px solid;
	
}

#title{
	width: 1024px;
	height: 150px;
	position: absolute;
	left: 50%;
	margin-left: -512px;
	
}
#list{
	position: absolute;
	top: 150px;
	width: 100px;
	height: 400px;
	border-right : 1px solid;

}
#list div{
	width: 100px;
	height: 50px;
	text-align: center;
	line-height: 50px;
	border-bottom: 1px solid;
}
#midbox{
	position: absolute;
	width: 924px;
	height: 400px;
	left: 102px;
	top: 150px;
	overflow: scroll;
}
p{
	font-size: 50px;
}
#exitbox{
	width: 80px;
	height: 20px;
	position: absolute;
	right: 60px;
	bottom: 30px;
	color: white;
}
#footbox{
	width: 1024px;
	height: 70px;
	position: absolute;
	bottom: 0px;
	left: 50%;
	margin-left: -512px;
	text-align: center;
	
}


.bgclass{
	background-color: #f0ce8f;	
}
